<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Node.js home work week - 5</title>
    </head>
    <body>
        <h1>Node.js home work week - 5</h1>
        <h3>Generate new page session by button click</h3>
        <%- include('partials/generateSession') %>
        <h3>Increase counter session by button click</h3>
        <%- include('partials/counter') %>
    </body>
</html>